<h1> <%=@profile.fullname%> </h1> ~ <%= link_to "Edit Name", edit_profile_path %>
<br><br>
<%= link_to "Search Profiles", profiles_path %>
<hr>

<h2>Posts</h2> 

<% if flash[:message] %>
    <% flash[:message].each do |error| %>
        <p style="color: red">
            <%= error %>
        </p>
    <% end %>
<% end %>

<%= form_for @newpost do |f| %>
    <%= f.hidden_field :profile_id, value: @profile.id %>
    What's on your mind? <%= f.text_area :post, :cols => "125", :rows => "1" %>
    <%= f.submit %>
<% end %>

<hr>

<ul>
    <% @profile.posts.each do |post| %>
        <li> 
            <p> <%= post.post %> ~ <%= link_to "Edit", edit_post_path(post) %></p>
        </li>
    <% end %>
</ul>

<hr>

<h2>Blogs</h2>
<%= link_to "Create a Blog!", new_blog_path %>
<hr>
<ul>
    <% @profile.summaries.each do |summary| %>
        <li>
            <%= link_to summary.blog.title, blog_path(summary.blog) %>
            <br><br>
            <%= summary.summary %> ~ <%= link_to "Edit", edit_summary_path(summary) %>
            <br><br>
        </li>
    <% end %>
</ul>

<br><br>
<%= button_to "Delete Profile", @profile, method: :delete %>

