<h1> What would you like to change? </h1>
<hr>
<br>

<% if flash[:error] %>
    <p style='color: red'>
        <%= flash[:error] %>
    </p>
<% end %>

<%= form_for @summary do |f| %>
    <%= f.text_area :summary, :cols => "85", :rows => "10" %>
    <br><br>
    <%= f.submit "Update" %>
<% end %>
<br><br>
<%= button_to "Delete", summary_path(@summary), method: :delete %>