<h1> What would you like to change? </h1>
<hr>
<br>

<% if flash[:error] %>
    <% flash[:error].each do |error| %>
        <p style="color: red">
            <%= error %>
        </p>
    <% end %>
<% end %>

<%= form_for @post do |f| %>
    <%= f.text_area :post, :cols => "125", :rows => "2" %>
    <br><br>
    <%= f.submit "Update" %>
<% end %>
<br><br>
<%= button_to "Delete", post_path(@post), method: :delete %>